<h1 align="center">Ajout d'une nouvelle Equipe</h1>

<form  #equipe="ngForm" (ngSubmit)="onSubmit(equipe)">
  <div class="container">

    <div class="row" style="margin-bottom: 5px;">
    <div class="col-4" align="right"><label for="name">Team Name</label></div>
    <div class="col-4"><input ngModel type="text" class="form-control" id="name" required name="equipeName"></div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
      <div class="col-4" align="right"><label for="country">Team Country</label></div>
      <div class="col-4"><input ngModel type="text" class="form-control" id="country" required name="equipeCountry"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4"><input type="submit" class="form-control"  value="Ajouter" class="btn btn-success"></div>
    </div>

</div>
</form>
